
<div id="userDetails">
<img ng-src="{{user.avatar_url}}" title="{{user.name}}">

<div><em>Name: {{ user.name}} </em></div>
<div><em>Location: {{ user.location}} </em></div>

Order:
<select ng-model="repoSortOrder">
  <option value="+name">Name</option>
  <option value="-stargazers_count">Stars</option>
  <option value="+language">Language</option>

</select>

</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos|orderBy:repoSortOrder">
      <td>{{repo.name|capitalize}}</td>
      <td>{{repo.stargazers_count|number}}</td>
      <td>{{repo.language}}</td>
      <td>{{repo.owner.login}}</td>
    </tr>
  </tbody>
</table>
